<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CtrListarusuario</servlet-name>
        <servlet-class>controlador.CtrListarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrtUsuario</servlet-name>
        <servlet-class>controlador.CrtUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrtRol</servlet-name>
        <servlet-class>controlador.CrtRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrtRecursos</servlet-name>
        <servlet-class>controlador.CrtRecursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrLogin</servlet-name>
        <servlet-class>controlador.CtrLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrtNovedades</servlet-name>
        <servlet-class>controlador.CrtNovedades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrGeneral</servlet-name>
        <servlet-class>controlador.CtrGeneral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrCotizacion</servlet-name>
        <servlet-class>controlador.CtrCotizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrtProyecto</servlet-name>
        <servlet-class>controlador.CrtProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrtCiudades</servlet-name>
        <servlet-class>controlador.CrtCiudades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrTipo_Herramientas</servlet-name>
        <servlet-class>controlador.CtrTipo_Herramientas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrTipo_Materiales</servlet-name>
        <servlet-class>controlador.CtrTipo_Materiales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrtHerramientas</servlet-name>
        <servlet-class>controlador.CrtHerramientas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrtMarca</servlet-name>
        <servlet-class>controlador.CrtMarca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrListarusuario</servlet-name>
        <url-pattern>/CtrListarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrtUsuario</servlet-name>
        <url-pattern>/CrtUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrtRol</servlet-name>
        <url-pattern>/CrtRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrtRecursos</servlet-name>
        <url-pattern>/CrtRecursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrLogin</servlet-name>
        <url-pattern>/CtrLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrtNovedades</servlet-name>
        <url-pattern>/CrtNovedades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrGeneral</servlet-name>
        <url-pattern>/CtrGeneral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrCotizacion</servlet-name>
        <url-pattern>/CtrCotizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrtProyecto</servlet-name>
        <url-pattern>/CrtProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrtCiudades</servlet-name>
        <url-pattern>/CrtCiudades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrTipo_Herramientas</servlet-name>
        <url-pattern>/CtrTipo_Herramientas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrTipo_Materiales</servlet-name>
        <url-pattern>/CtrTipo_Materiales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrtHerramientas</servlet-name>
        <url-pattern>/CrtHerramientas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrtMarca</servlet-name>
        <url-pattern>/CrtMarca</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
